body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    text-align: center;
}

.card{
    border: 1px solid black;
    width: 400px;
    height: 450px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 5px;
    box-shadow: 0  5px 20px;
}

.card img{
    width: 100%;
    border-radius: 10px;
}